build/
external/libosmium
cmake-build-*/

CMakeCache.txt
CmakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake

*.exe
*.dll
*.o
*.obj
*.a
*.lib

.vscode/

Thumbs.db
Desktop.ini

*.log

.env
.env.*