build/
external/
data/
sample_osm/

cmake-build-*/

CMakeCache.txt
CmakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
sample_osm/socal-260924.osm.pbf

*.exe
*.dll
*.o
*.obj
*.a
*.lib

.vscode/

Thumbs.db
Desktop.ini

*.log

.env
.env.*